<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Project ThirdEye</title>
        <meta name="description" content="Project ThirdEye">
        <meta name="author" content="Team 7">

        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <script type="text/javascript" src="../static/js/scripts.js"></script>
        <script type="text/javascript" src="../static/js/fabric.min.js"></script>
        <script src="../static/set.json"></script>
        <script src="../static/data.json"></script>
        <!script src="../static/node_modules/self-reload-json/index.js"><!/script>
        <!script src="../static/node_modules/self-reload-json/package.json">
            <!/script>
        <!script src="../static/js/require.js"><!/script>
        <h1>Project ThirdEye</h1>
            <button id="area">
                Set Area
            </button>
            <button id="anchors">
                Set Anchors
            </button>
            <button id="start">
                Start
            </button>

        <canvas id="main" width="800" height="600"
                style="border:1px solid #000000">
            <img src="../static/00001.jpg" id="my-image">
        </canvas>
        <p id="console"> Console: </p>
    </body>
</html>
