<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Project ThirdEye</title>
        <meta name="description" content="Project ThirdEye">
        <meta name="author" content="Team 7">

        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <script src="js/scripts.js"></script>
        <h1>Project ThirdEye</h1>
            <button id="area">
                Set Area
            </button>
            <button id="anchors">
                Set Anchors
            </button>
            <button id="start">
                Start
            </button>

        <canvas id="myCanvas" width="800" height="600"
                style="border:1px solid #000000; background-color:#FFFFFF">
        </canvas>
    </body>
</html>
